/* Fonts */

/* Arvo */
@import url('https://fonts.googleapis.com/css?family=Arvo:700i');

/* Core Body Styles */
body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
  font-family: sans-serif;
}

/* Navigation Styles */
nav {
  display: flex;
  width: auto; height: 48px;
  background-color: #3333ff;
}
nav a {
  display: inline-block;
  flex: auto;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
}
 nav a:hover {
  background-color: #0000ff;
}

/* Header Styles */
header {
  display: block;
  position: relative;
  padding: 1em;
  background-color: #1212ff;
  font-family: 'Arvo', serif;
}

/* Recent Posts Label */
#post-label {
  display: block;
  margin: 1em;
}

/* Post Styles */
.post-card {
  padding: 0 1em;
  margin-top: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 265px;
  position: relative;
}
.post-card h2 {
  position: absolute;
  display: block;
  width: calc(100% - 2em); /* Accounting for the 2em of padding. */
  bottom: 0; left: 0;
  padding: 1.5em 1em 1em 1em;
  margin: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  text-shadow: .2em .2em .2em #000000;
  letter-spacing: .1em;
}
.show-excerpt {
  
}
