/* Fonts */

/* Arvo */
@import url('https://fonts.googleapis.com/css?family=Arvo:700i');

/* Core Body Styles */
body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
  font-family: sans-serif;
}

/* Navigation Styles */
nav {
  display: flex;
  width: auto; height: 48px;
  background-color: #3333ff;
}
nav a {
  display: inline-block;
  flex: auto;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  transition: 500ms ease all;
}
 nav a:hover {
  background-color: #0000ff;
}

/* Header Styles */
header {
  display: block;
  position: relative;
  padding: 1em;
  background: linear-gradient(to right, #1212ff, #000000);
  font-family: 'Arvo', serif;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

/* Recent Posts Label */
#post-label {
  display: block;
  margin: 1em;
}

/* Post Styles */
.post-card {
  display: block;
  padding: 0;
  margin-top: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 265px;
  position: relative;
  transition: 500ms ease all;
  color: #ffffff;
  text-decoration: none;
}
.post-card .post-shim {
  background-color: rgba(0, 0, 0, 0);
  transition: 500ms ease all;
  width: calc(100% - 2em);
  height: 100%;
  padding: 0 1em;
}
.post-card h2 {
  position: absolute;
  display: block;
  width: calc(100% - 2em); /* Accounting for the 2em of padding. */
  bottom: 0; left: 0;
  padding: 1.5em 1em 1em 1em;
  margin: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  text-shadow: .2em .2em .2em #000000;
  letter-spacing: .1em;
  opacity: 1;
  transition: 500ms ease all;
}
.post-card h3 {
  opacity: 0;
  letter-spacing: 0.1em;
  width: calc(100% - 2em);
  padding-top: 1em;
  transition: 500ms ease all;
}
.post-card p {
  opacity: 0;
  letter-spacing: 0.1em;
  transition: 500ms ease all;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 2em;
  background-color: black;
  color: #ffffff;
  margin-top: 1em;
}


/*****************************
  JS States
*****************************/

@media screen and (max-width:849px) {
  .show-excerpt {
    color: #ffffff;
    padding: 0;
  }
  .show-excerpt .post-shim {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .show-excerpt p {
   width: calc(100% - 2em);
   opacity: 1;
  }
  .show-excerpt h2 {
    opacity: 0;
  }
  .show-excerpt h3 {
    opacity: 1;
  }
}



/*****************************
  Next Screen Size Styles
*****************************/

@media screen and (min-width:850px) {

  /* Post Styles */
  #recent-posts {
    max-width: 1000px;
    margin: auto;
  }
  .post-card {
    display: flex;
    height: 300px;
  }
  .post-card .post-title {
    display: none;
  }
  .post-card .post-img {
    width: 500px;
    background-size: cover;
    background-position: center;

  }
  .post-card .post-shim {
    background-color: #000000;
    opacity: 1;
  }
  .post-card .post-shim h3 {
    font-size: 1.8em;
  }
  .post-card .post-shim h3, .post-card .post-shim p {
    opacity: 1;
  }


}


/*****************************
  Single Post Styles
*****************************/

#active-post {

}
.post-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
}
.post-title-container {
  margin: auto auto 0 auto;
  vertical-align: middle;
  align-items: center;
  padding: 1em;
  text-shadow: 0.1em 0.1em 1em #000000;
}
.post-title {
  font-weight: 100;
  font-size: 1.6em;
}
.post-date {
  font-weight: 100;
  font-size: 1.4em;
}
.post-author {
  font-weight: 100;
  font-size: 1.2em;
}
.post-author a {
  color: #ffffff;
  text-decoration: none;
}



/* Post Content */

.post-content {
  font-size: 1.2em;
  letter-spacing: 0.15em;
  line-height: 1.6em;
  margin: 1em;
}

@media screen and (min-width:700px) {
  .post-image {
    height: calc(75vh - 48px);
    background-position: center 20%;
  }
  .post-title-container {
    margin: auto 0 0 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  }
  .post-title {
    font-weight: 400;
    font-size: 2em;
    text-shadow: 0.2em 0.2em 1em #000000;
  }
  .post-date {
    font-weight: 400;
    font-size: 1.7em;
    text-shadow: 0.2em 0.2em 1em #000000;
  }
  .post-author {
    font-weight: 100;
    font-size: 1.4em;
    text-shadow: 0.2em 0.2em 1em #000000;
  }
  .post-content .alignleft {
    float: left;
    padding: 1em 1em 1em 0;
    max-width: 45%;
  }
  .post-content .alignright {
    float: right;
    padding: 1em 0 1em 1em;
    max-width: 45%;
  }

  .post-body {
    display: flex;
    max-width: 1400px;
    margin:auto;
  }
  .post-content {
    flex: 4;
    margin: 0 2em;
  }
  .post-ads {
    flex: 1;
  }
}
